.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 50px 0 80px 0;
  text-shadow: var(--text-dropshadow);
  background-color: var(--background-color);
}

.map-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.map-link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.map-link a:hover {
  text-decoration: underline; /* Keep underline for clarity */
  transition: color 0.3s ease;
}
