.contact {
  text-shadow: var(--text-dropshadow);
  margin: 0;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  background-color: var(--background-color);
}

form {
  display: inline-block;
  padding: 1em;
  border: 5px solid #9fccd2;
  border-radius: 1em;
  background-color: #9fccd2;
  width: 50%;
  max-width: 400px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #707070);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: flex;
  min-width: 90px;
  text-align: right;
  padding-bottom: 5px;
  color: white;
}

input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-family: "Verdana";
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  text-align: center;
  margin-left: 0;
  border: none;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgb(116, 116, 116);
}

.contactform-send-message {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-family: "Permanent Marker";
}

.success {
  color: black;
  font-weight: bold;
  padding-top: 20px;
}

.error {
  color: black;
  font-weight: bold;
  padding-top: 20px;
}

.map-link {
  text-align: center;
  margin: 20px 0;
}

.map-link a {
  font-family: "Permanent Marker";
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
