.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 500px;
  display: flex;
  align-items: center;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
  background-color: white;
}

@media (max-width: 1200px) {
  .carousel {
    width: 100%;
    height: auto;
  }
}

.carousel-inner {
  display: flex;
  transition: transform 2.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel img {
  width: 100%;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel-border {
  height: 100px;
}

@media (max-width: 768px) {
  .carousel-border {
    height: 50px;
    background-color: white;
  }
}
